#section {
    color: #404040;
    font-weight: normal; 
    border-bottom: 3px solid #bb1919;
    display: inline;
    font-size: 1.25rem;
    padding-bottom: 2px;
    margin-top: 8px;
    margin-bottom: 8px;    
}


h1 {
    color: #3f3f42;
    font-size: 44px;
    font-weight: 500 bolder;
    margin: 1rem 0px 1.5rem;
    padding-bottom: 1.5rem;
    text-align: left;
    
    
}

.main {
    width: 660x371,25;
}


hr {
    align-items: baseline;
}

#first  {
    font-weight: bold;

}
p {
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    font-size: 16px;
    color: #3f3f42;
    margin:0px;
    padding: 6px;
    border:0px;
    vertical-align:baseline;
    text-align: left;
    line-height: 1.6;
    
}

.interviewee {
overflow:hidden;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
margin: 1rem 0px 1.5rem;
padding-bottom: 1.5rem;
}



.interviewer {
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif; 
    font-weight: bolder;
}

ul {
    color: #696969;   
    font-family: ReithSans,Arial,Helvetica,freesans,sans-serif;
    font-size: 16px; 
    border-bottom: none;
    text-decoration: underline 1px rgb(186, 186, 186);
    line-height: 40px; 
}

a {
    color: #696969; 
    text-decoration: underline 1px rgb(186, 186, 186);
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #bb1919;
    text-decoration: underline 1px #bb1919;
    font-weight: bold;
    font-size: 16px;
}