@font-face {
font-family: RobotoSlab;
scr: url (https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap);
}

@font-face {
font-family: RobotoSlab700;
scr: url (https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap);
}

* {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

body {
    margin-left: 15px;
    margin-right: 5px;
    text-align: left;
    font-family: RobotoSlab;
    font-size: 16px;
}

h1 {
    max-width: 50%;
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 4px;
    text-align: left;
    font-family: RobotoSlab700;
    color: #3f3f42;
    font-size: 45px;
    font-weight:bolder;
}

nav {
    display: inline-flexbox;
    block-size: 30px;
    margin-top: 3px;
    padding-top: 5px;
    margin-left: 5px;
    padding-left: 5px;
}

hr {
    width: 70%;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 35px;
    margin-bottom: 20px;
}

p {
    margin: 16px 0px 24px 16px; 
    vertical-align: baseline;
    text-align:left;
    font-family: RobotoSlab;
    color: #3f3f42;
    font-size: 18px;
    line-height: 1.3;
    inline-size: 63%;    
}

ul {
    list-style-type: unset;
    margin-left: 45px;
}

button {
    padding: 12px;
    background-color: #bb1919;
    border: 1px solid #bb1919;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    background-color: rgb(63,63,66);
    border: 1px solid rgb(63,63,66);
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    margin-top: 15px;
    padding-bottom: 20px;
    font-family: RobotoSlab;
    font-size: 24px;
    color: rgb(63,63,66);
}

footer {
    border-top: 2px solid #bb1919;
    border-bottom: 2px solid #bb1919;
    margin-top: 15px;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

.section {
    margin-top: 10px;
    margin-left: 10px;
}

#section {
    padding: 6px;
    margin-top: 8px;
    border-bottom: 4px solid #bb1919; 
    font-family: RobotoSlab;
    color: #3f3f42;
    font-size: 20px;
    inline-size: auto;
    text-decoration: none;  
}

.france {
    width: 60%;
}

.clock {
    margin-left: 15px;
    margin-top:5px;
}

.comments {
    text-decoration: none;
    color: #bb1919
}

.comments:hover {
    text-decoration: underline 1px #bb1919;
    color: #bb1919
}

.iComments {
    margin-left:5px;
    margin-top:5px;
    margin-bottom: 3px;
}

.share {
    display: inline;
    float: left;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 15px;
}

.coronavirusPandemic {
    display:inline-flex;
    margin-top: 5px ;
    padding: 11px;
    border: 1px solid rgb(219,127,127);
    font-family: RobotoSlab;
    font-size: 16px;
    text-decoration: none;
    color: rgb(63,63,66);
    font-weight: bold;
}

.coronavirusPandemic:hover {
    background-color: #bb1919;
    font-family: RobotoSlab;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.france {
    max-width: 55%;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 4px;
    padding-bottom: 0rem;
    font-family: RobotoSlab;
    color: #3f3f42;
    font-size: 44px;
    font-weight: bolder;
    text-align: left; 
}

#week7, #week7-2 {
    block-size: 30px; 
    align-content: left;
}

#main {
    max-width: 70%;
    margin-left: 15px;
    margin-right: 5px;
}

.covid19 {
    width: 70%;
    margin-left: 15px;
    margin-right: 5px;
}

.first {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 3px;
    font-family: RobotoSlab700;
    text-align:left;
    line-height: 1.3;    
    color: #3f3f42;
    font-weight: bolder;
}

.blank {
    list-style-type:circle;
    list-style-position: unset;
    margin-top: 10px;
    color: rgb(100, 100, 100);   
    font-family: RobotoSlab700;
    font-size: 18px;
    font-weight:bolder; 
    text-decoration: underline 1px rgb(186,186,186);
    line-height: 2;
}

.blank:hover {
    color: #bb1919;
    text-decoration: underline 1px #bb1919;
}

.blankB {
    margin-top: 25px;
    color: rgb(63,63,66);   
    font-family: RobotoSlab;
    font-weight: bolder; 
    text-decoration: underline 1px rgb(186,186,186); 
}

.blankB:hover {
    color: #bb1919;
    text-decoration: underline 1px #bb1919;
}

.interviewee {
    width: 70%;
    margin-top: 15px;
    margin-buttom: 15px;
    margin-left: 15px;
    margin-right: 5px;
}

.interviewer {
    font-family: RobotoSlab; 
    font-weight: bolder;
}

.iframe {
    border:lightblue;
    border-radius: 1px;;
}

.video {
    display: block;
    max-width: 100%;
    max-width: 100%;
    height: 100%;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.relatedTopics a {
    display: inline-flex;
    align-items: left;
    padding: 12px; 
    margin-top: 25px;
    margin-right: 10px;
    border: 1px solid rgb(219,127,127);
    font-family: RobotoSlab;
    font-size: 16px;
    text-decoration: none;
    color: rgb(63,63,66);
    font-weight: bold;  
}

.relatedTopics a:hover {
    align-items: center;
    padding: 12px; 
    margin-right: 5px;
    background-color: #bb1919;
    font-family: RobotoSlab;
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;  
}



